absl-py==2.0.0
accelerate==0.23.0
aiohttp==3.8.6
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==3.7.0
anykeystore==0.2
apache-beam==2.51.0
apex==0.9.10.dev0
appdirs==1.4.4
arrow==1.2.3
asap3==3.13.1
ase==3.22.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.0
axial-positional-embedding==0.2.1
Babel==2.12.1
bangla==0.0.2
beautifulsoup4==4.12.2
best-download==0.0.9
bitsandbytes @ git+https://github.com/timdettmers/bitsandbytes.git@4395d68cf6beda911c1c3e5633debf15652e2902
blessed==1.20.0
blinker==1.6.2
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.1
brotlipy==0.7.0
cachetools==5.3.1
certifi==2022.12.7
charset-normalizer==2.1.1
clean-fid==0.1.35
click==8.1.3
clip-anytorch==2.5.2
cloudpickle==2.2.1
cmake==3.26.4
colorama==0.4.6
CoLT5-attention==0.10.20
contourpy==1.1.0
coqpit==0.0.17
crcmod==1.7
croniter==1.3.15
cryptacular==1.6.2
cupy==13.0.0
custom-op==0.0.0
cycler==0.11.0
Cython==0.29.30
data==0.4
DataProperty==1.0.1
datasets==2.14.5
dateparser==1.1.8
dateutils==0.6.12
decorator==5.1.1
deepdiff==6.3.0
deepspeed @ git+https://github.com/EleutherAI/DeeperSpeed.git@eb7f5cff36678625d23db8a8fe78b4a93e5d2c75
defusedxml==0.7.1
dill==0.3.5.1
dnspython==2.4.2
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.7.0
encodec @ git+https://git@github.com/facebookresearch/encodec@0e2d0aed29362c8e8f52494baf3e6f99056b214f
exceptiongroup==1.1.1
falcontune==0.1.0
fastapi==0.88.0
FastAttention==0.0.0
FastAttention2==0.0.0
fastavro==1.9.0
fasteners==0.19
fastrlock==0.8.2
filelock==3.9.0
flash-attn==2.5.6
Flask==2.3.2
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.4.0
fsspec==2023.6.0
ftfy==6.1.1
funcsigs==1.0.2
fused-kernels==0.0.1
future==1.0.0
g2pkk==0.1.2
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.0.0
grpcio==1.54.2
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
h11==0.14.0
h5py==3.8.0
hdfs==2.7.3
hjson==3.1.0
httplib2==0.22.0
huggingface-hub==0.17.3
hupper==1.12
ijson==3.2.3
imageio==2.31.1
inflect==5.6.0
inquirer==3.1.3
itsdangerous==2.1.2
jamo==0.4.1
jax==0.4.12
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
Js2Py==0.74
jsonargparse==4.21.2
jsonlines==4.0.0
jsonmerge==1.9.2
jsonpointer==2.1
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
k-diffusion==0.0.15
keras==2.12.0
kiwisolver==1.4.4
kornia==0.6.12
latex==0.7.0
lazy_loader==0.3
libclang==16.0.0
librosa==0.10.0
lightning==2.0.3
lightning-cloud==0.5.36
lightning-utilities==0.8.0
linear-attention-transformer==0.19.1
linformer==0.2.3
linformer-pytorch==0.19.3
lit==16.0.6
llvmlite==0.40.1
-e git+https://github.com/EleutherAI/lm-evaluation-harness@e81d3cce155e93ba2445068767c738891ad97024#egg=lm_eval
local-attention==1.9.1
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mbstrdecoder==1.1.3
mdurl==0.1.2
mecab-python3==1.0.6
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
networkx==3.0
ninja==1.11.1
nltk==3.8.1
num2words==0.5.12
numba==0.57.0
numexpr==2.8.7
numpy==1.24.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.2.140
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
objsize==0.6.1
omegaconf==2.3.0
open-clip-torch==2.20.0
openai==0.28.1
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.9.10
packaging==23.1
pandas==2.1.1
PasteDeploy==3.0.1
pathtools==0.1.2
pathvalidate==3.2.0
pbkdf2==1.3
peft==0.5.0
Pillow==9.3.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==3.9.1
pooch==1.7.0
portalocker==2.8.2
primePy==1.3
product-key-memory==0.2.10
proto-plus==1.22.3
protobuf==3.20.3
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycountry==22.3.5
pycryptodome==3.18.0
pydantic==1.10.9
pydot==1.4.2
pyg-lib==0.3.1+pt21cu118
Pygments==2.15.1
pyjsparser==2.7.1
PyJWT==2.7.0
pymongo==4.6.0
pynndescent==0.5.10
pyparsing==3.1.0
pypinyin==0.49.0
pyramid==2.0.2
pyramid-mailer==0.15.1
pysbd==0.3.4
pytablewriter==1.2.0
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-editor==1.0.4
python-multipart==0.0.6
python3-openid==3.2.0
pytorch-lightning==2.0.3
pytorch-triton==2.1.0+440fd1bf20
pytorch-warmup==0.1.1
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
quant-cuda==0.0.0
rdkit==2023.9.4
readchar==4.0.5
referencing==0.30.0
regex==2023.10.3
rehash==1.0.1
repoze.sendmail==4.4.1
requests-oauthlib==1.3.1
resampy==0.4.2
resize-right==0.0.2
rich==13.4.2
rouge-score==0.1.2
rpds-py==0.9.2
rsa==4.9
sacrebleu==1.5.0
safetensors==0.4.0
SciencePlots==2.1.1
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.12.2
sentencepiece==0.1.99
sentry-sdk==1.25.1
setproctitle==1.3.2
shortuuid==1.0.11
shutilwhich==1.1.0
SigmoidKernel==0.0.0
smmap==5.0.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
speechcolab==0.0.6a0
SpeechRecognition==3.10.0
SQLAlchemy==2.0.22
sqlitedict==2.1.0
starlette==0.22.0
starsessions==1.3.0
sympy==1.12
tabledata==1.3.3
tcolorpy==0.1.4
tempdir==0.7.1
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboardX==1.8
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.7.18
tiktoken==0.5.1
timm==0.9.5
tokenizers==0.14.1
torch==2.1.0+cu118
torch-cluster==1.6.3+pt21cu118
torch-pitch-shift==1.2.4
torch-scatter==2.1.2+pt21cu118
torch-sparse==0.6.18+pt21cu118
torch-spline-conv==1.2.2+pt21cu118
torch_geometric==2.4.0
torchaudio==2.1.0+cu118
torchdiffeq==0.2.3
torchmetrics==0.11.4
torchsde==0.2.5
torchvision==0.16.0+cu118
tqdm-multiprocess==0.0.11
trainer==0.0.29
traitlets==5.9.0
trampoline==0.1.2
transaction==3.1.0
transformers==4.34.0
translationstring==1.4
triton==2.1.0
TTS==0.15.6
typepy==1.3.2
typing_extensions==4.4.0
tzdata==2023.3
tzlocal==5.0.1
umap-learn==0.5.1
unidic-lite==1.0.8
uvicorn==0.22.0
velruse==1.1.1
venusian==3.0.0
wandb==0.16.1
wcwidth==0.2.6
WebOb==1.8.7
websocket-client==1.6.0
websockets==11.0.3
Werkzeug==2.3.6
wrapt==1.14.1
WTForms==3.1.0
wtforms-recaptcha==0.3.2
xxhash==3.4.1
yarl==1.9.2
zope.deprecation==5.0
zope.interface==6.1
zope.sqlalchemy==3.1
tqdm
